.Home {
  text-align: center;

  .header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .title {
    color: white;
    user-select: none;
    margin-top: 0;
  }

  .logo {
    height: 30vmin;
    pointer-events: none;
    user-select: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: header-logo-spin infinite 20s linear;
    }
  }

  @keyframes header-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
